/* General styles */

html {
  font-size: 16px;
  background-color: #f2f5f5;
  color: #4a4a4a;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: bold;
}
h2 {
  font-size: 1.8rem;
  margin-top: 2rem;
}
h3 {
  font-size: 1.7rem;
  font-weight: normal;
}
p,
  a {
    font-size: 1.1rem;
    line-height: 1.5;
}
.column {
  display: flex;
  flex-direction: column;
}

.left_col {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.right_col {
  padding: 1rem 0;
  max-width: 40%;
}

.left_col img,
  .left_col video {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
.left_col p {
  margin-top: 1.5rem;
}
article {
  display: flex;
  align-items: center;
  transition: background-color 200ms linear 50ms;
  padding-left: 0.5rem;
}

article:hover {
  background-color: #d8d8d8;
}

article img {
  width: 35%;
  height: auto;
  margin: 1rem 0.5rem;
}
article h3,
  article p {
    padding: 0.5rem;
}

/* Header */

header {
  font-size: 1.4rem;
  background-color: white;
  padding: 0.750rem 1.5rem;
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 1px 1px 1px rgba(74,74,74,0.05);
}

#desktop_header {
  display: flex;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 4rem;
}

.brand_name {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2rem;
}

.brand_name .strong {
  font-weight: bold;
}

.brand_name .light {
  color: #9b9b9b;
}

.nav_links {
  padding-left: 1rem;
}

#mobile_header {
  display: none;
}

@media only screen and (max-width: 480px) {
  #desktop_header {
    display: none;
  }
  #mobile_header {
    display: flex;
    justify-content: space-around;
  }
}

/*  Hero Section */

#hero_section {
  padding-top: 5.5rem;
  display: flex;
  align-items: center;
  background-color: #d8d8d8;
}

#hero_section .right_col {
  padding-left: 1.5rem;
}

#hero_section h1 {
  font-size: 3.2rem;
  padding-bottom: 2rem;
}

#hero_section .right_col {
  padding-right: 10%;
}

#hero_section h4 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  line-height: 1.5;
  font-weight: normal;
}

button {
  font-family: "Open Sans", sans-serif;
  color: #4a4a4a;
  background-color: #9b9b9b;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(74,74,74,0.1);
  transition: all 100ms linear 50ms;
  outline: 0;
}
button:hover {
  color: white;
  background-color: #4a4a4a
}
/* Information Section */

#information {
  display: flex;
}

#information .right_col {
  border-left: 1px solid #d8d8d8;
}

#information article {
  border-bottom: 1px solid #d8d8d8;
}

.attribution {
  margin: 2rem 0 1.5rem 0;
}

/* Courses Section */
#course_section {
  background-color: #eaebec;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses_container {
  margin: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-around;
}

.course {
  background-color: white;
  width: 32%;
}

.course:nth-child(1n+4){
  margin-top: 2rem;
}

.course img {
  width: 100%;
  height: auto;
}

.course_text h3 {
  padding: 1rem;
}

.course_text h5 {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.course_text p {
  padding: 1rem;
  padding-bottom: 1.5rem;
  font-size: 1.2rem;
}

/* Thesis */
.section_heading {
  text-align: center;
}

.thesis_wrapper {
  display: flex;
}

/* Footer */
footer {
  height: 5rem;
  border-top: 1px solid #d8d8d8;
  display: flex;
}
footer span {
  margin: 1rem 1.5rem 0 0;
}
.copyright {
  margin: 1rem 0 0 1.5rem;
  flex-grow: 1;
}




/*  */
